In [3]:
import pandas as pd
import numpy as np
import datetime as dt

In [20]:
df = pd.read_csv('/Users/mavolle/Desktop/Advanced Asset Management/Homework 2/DATA_HOMEWORK_2.csv', sep=';', index_col=0, header=0, encoding='utf-8')
df

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index
01/01/1999,"0,061653458","0,013594571","37,61"
01/02/1999,"-0,017353015","-0,011466497","30,8"
01/03/1999,"0,022205505","0,006567522","25,25"
01/04/1999,"0,056022695","0,010824123","23,74"
01/05/1999,"-0,028023393","-0,005703398","24,99"
...,...,...,...
01/08/2019,"-0,010733531","0,019137239","17,67"
01/09/2019,"0,042532565","-0,005323382","15,83"
01/10/2019,"0,01079887","-0,009152","13,79"
01/11/2019,"0,027966327","-0,006181174","13,17"
01/12/2019,"0,011996843","-0,007274415","13,95"

In [21]:
df = df.apply(lambda x: x.str.replace(',','.'))
df

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index
01/01/1999,0.061653458,0.013594571,37.61
01/02/1999,-0.017353015,-0.011466497,30.8
01/03/1999,0.022205505,0.006567522,25.25
01/04/1999,0.056022695,0.010824123,23.74
01/05/1999,-0.028023393,-0.005703398,24.99
...,...,...,...
01/08/2019,-0.010733531,0.019137239,17.67
01/09/2019,0.042532565,-0.005323382,15.83
01/10/2019,0.01079887,-0.009152,13.79
01/11/2019,0.027966327,-0.006181174,13.17
01/12/2019,0.011996843,-0.007274415,13.95

In [22]:
df.dtypes

Eurostoxx 50 index (TR)                         object
Bloomberg European Aggregate Bond index (TR)    object
V2X index                                       object
dtype: object

In [23]:
df.index = pd.to_datetime(df.index)
df['V2X index'] = df['V2X index'].astype(float)
df['Eurostoxx 50 index (TR)'] = df['Eurostoxx 50 index (TR)'].astype(float)
df['Bloomberg European Aggregate Bond index (TR)'] = df['Bloomberg European Aggregate Bond index (TR)'].astype(float)

In [24]:
df.dtypes

Eurostoxx 50 index (TR)                         float64
Bloomberg European Aggregate Bond index (TR)    float64
V2X index                                       float64
dtype: object

In [28]:
portfolio = pd.DataFrame(df.copy())
portfolio

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index
1999-01-01,0.061653,0.013595,37.61
1999-01-02,-0.017353,-0.011466,30.80
1999-01-03,0.022206,0.006568,25.25
1999-01-04,0.056023,0.010824,23.74
1999-01-05,-0.028023,-0.005703,24.99
...,...,...,...
2019-01-08,-0.010734,0.019137,17.67
2019-01-09,0.042533,-0.005323,15.83
2019-01-10,0.010799,-0.009152,13.79
2019-01-11,0.027966,-0.006181,13.17
2019-01-12,0.011997,-0.007274,13.95

In [36]:
portfolio['Return'] = 0
portfolio.loc['1999-01-01', 'Return'] = portfolio['Bloomberg European Aggregate Bond index (TR)'].iloc[0]
for i in range(1, len(portfolio['Return'])):
    portfolio.iloc[i, portfolio.columns.get_loc('Return')] = portfolio['Eurostoxx 50 index (TR)'].iloc[i] if portfolio['V2X index'].iloc[i] < 37 \
                                                            else portfolio['Bloomberg European Aggregate Bond index (TR)'].iloc[i]

In [37]:
portfolio

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index,Return
1999-01-01,0.061653,0.013595,37.61,0.013595
1999-01-02,-0.017353,-0.011466,30.80,-0.017353
1999-01-03,0.022206,0.006568,25.25,0.022206
1999-01-04,0.056023,0.010824,23.74,0.056023
1999-01-05,-0.028023,-0.005703,24.99,-0.028023
...,...,...,...,...
2019-01-08,-0.010734,0.019137,17.67,-0.010734
2019-01-09,0.042533,-0.005323,15.83,0.042533
2019-01-10,0.010799,-0.009152,13.79,0.010799
2019-01-11,0.027966,-0.006181,13.17,0.027966
2019-01-12,0.011997,-0.007274,13.95,0.011997

In [12]:
portfolio_ = portfolio[portfolio.index >= dt.datetime(2006,1,1)]

In [13]:
portfolio_

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index,Return
2006-01-01,0.032523,-0.006036,15.85,0.032523
2006-01-02,0.022783,0.001360,15.04,0.022783
2006-01-03,0.021922,-0.012763,14.01,0.021922
2006-01-04,-0.001103,-0.006638,14.71,-0.001103
2006-01-05,-0.042522,0.003113,23.05,-0.042522
...,...,...,...,...
2019-01-08,-0.010734,0.019137,17.67,-0.010734
2019-01-09,0.042533,-0.005323,15.83,0.042533
2019-01-10,0.010799,-0.009152,13.79,0.010799
2019-01-11,0.027966,-0.006181,13.17,0.027966
2019-01-12,0.011997,-0.007274,13.95,0.011997

In [48]:
portfolio_.loc['2006-01-01', 'Return'] = 0
portfolio_.loc['2006-01-01', 'Return'] = portfolio_.iloc[0, portfolio_.columns.get_loc('Eurostoxx 50 index (TR)')]
portfolio_.loc['2006-01-01','Value'] = 0
portfolio_.loc['2006-01-01', 'Value'] = 1+portfolio_.iloc[0, portfolio_.columns.get_loc('Return')]
for i in range(1, len(portfolio_['Return'])):
    portfolio_.iloc[i, portfolio_.columns.get_loc('Return')] = portfolio_.iloc[i, portfolio_.columns.get_loc('Eurostoxx 50 index (TR)')] \
                                                if portfolio_.iloc[i, portfolio_.columns.get_loc('V2X index')] < 37 \
                                                else portfolio_.iloc[i, portfolio_.columns.get_loc('Bloomberg European Aggregate Bond index (TR)')]
    portfolio_.iloc[i, portfolio_.columns.get_loc('Value')] = \
                                                portfolio_['Value'].iloc[i-1] * (1+portfolio_['Return'].iloc[i])

In [49]:
portfolio_

,Eurostoxx 50 index (TR),Bloomberg European Aggregate Bond index (TR),V2X index,Return,Value
2006-01-01,0.032523,-0.006036,15.85,0.032523,1.032523
2006-01-02,0.022783,0.001360,15.04,0.022783,1.056047
2006-01-03,0.021922,-0.012763,14.01,0.021922,1.079197
2006-01-04,-0.001103,-0.006638,14.71,-0.001103,1.078008
2006-01-05,-0.042522,0.003113,23.05,-0.042522,1.032168
...,...,...,...,...,...
2019-01-08,-0.010734,0.019137,17.67,-0.010734,2.568667
2019-01-09,0.042533,-0.005323,15.83,0.042533,2.677919
2019-01-10,0.010799,-0.009152,13.79,0.010799,2.706837
2019-01-11,0.027966,-0.006181,13.17,0.027966,2.782538
2019-01-12,0.011997,-0.007274,13.95,0.011997,2.815919

In [54]:
portfolio_.to_csv("/Users/mavolle/Desktop/Advanced Asset Management/Homework 2/Exo2.csv")

In [60]:
annualised_perf = np.exp(np.log(portfolio_['Value'].iloc[-1])/14)-1
annualised_perf

0.07675210250396924

In [61]:
portfolio_.loc['2011-01-10']

Eurostoxx 50 index (TR)                          0.094999
Bloomberg European Aggregate Bond index (TR)    -0.007668
V2X index                                       35.120000
Return                                           0.094999
Value                                            1.429306
Name: 2011-01-10 00:00:00, dtype: float64

In [84]:
a = list(portfolio_['Value'])

168

In [86]:
def drawdowns(equity_curve):
    i = np.argmax(np.maximum.accumulate(equity_curve.values) - equity_curve.values) # end of the period
    j = np.argmax(equity_curve.values[:i]) # start of period

    drawdown=abs(100.0*(equity_curve[i]-equity_curve[j]))

    DT=equity_curve.index.values

    start_dt=pd.to_datetime(str(DT[j]))
    MDD_start=start_dt.strftime ("%Y-%m-%d") 

    end_dt=pd.to_datetime(str(DT[i]))
    MDD_end=end_dt.strftime ("%Y-%m-%d") 

    NOW=pd.to_datetime(str(DT[-1]))
    NOW=NOW.strftime ("%Y-%m-%d")

    MDD_duration=np.busday_count(MDD_start, MDD_end)

    try:
        UW_dt=equity_curve[i:].loc[equity_curve[i:].values>=equity_curve[j]].index.values[0]
        UW_dt=pd.to_datetime(str(UW_dt))
        UW_dt=UW_dt.strftime ("%Y-%m-%d")
        UW_duration=np.busday_count(MDD_end, UW_dt)
    except:
        UW_dt="0000-00-00"
        UW_duration=np.busday_count(MDD_end, NOW)

    return MDD_start, MDD_end, MDD_duration, drawdown, UW_dt, UW_duration

In [87]:
drawdowns(portfolio_['Value'])

('2015-01-03', '2016-01-06', 262, 46.17254076621775, '2017-01-03', 259)